SONARR_URL=http://localhost:8989
SONARR_API_KEY=your_sonarr_api_key
RADARR_URL=http://localhost:7878
RADARR_API_KEY=your_radarr_api_key
WHISPARR_URL=http://localhost:6969
WHISPARR_API_KEY=your_whisparr_api_key
LIDARR_URL=http://localhost:8686
LIDARR_API_KEY=your_lidarr_api_key
READARR_URL=http://localhost:8787
READARR_API_KEY=your_readarr_api_key
